html {
  box-sizing: border-box;
  font: normal 100%/1.5 Georgia,serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

.hero {
  max-height: 75vh;
  position: relative;
  overflow: hidden;
  background:
    linear-gradient(to top, rgba(0,0,0,0.7), transparent) no-repeat center bottom / 100% 50%,
    url("../images/mars.jpg") no-repeat center top / cover;
  padding-top: 56.25%;
}

.hero-content {
  padding: 0 1rem;
  position: absolute;
  width: 100%;
  bottom: 15%;

  color: #fff;
  font-size: 2rem;
  text-align: center;
  text-shadow: -1px 1px 4px rgba(0,0,0,0.8), 1px 1px 4px rgba(0,0,0,0.8);
}

.hero-content h1,
.hero-content p {
  margin: 0;
}
